
body{
    background-color: rgb(52, 52, 181);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: brown;
}
h2 {
   background-color: darkblue;
}
p {
    text-align: justify;
}
